.padding-bottom {
    padding-bottom: 30px;
}

/**** Slider ****/
.tp-bullets.simplebullets .bullet.selected {
    border-color: #ff7921 !important;
}

/**** Header ****/
@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: inline-block !important;
    }
    #header-style-1.affix-top .yamm img {
        width: 95%;
        margin-bottom: 26px;
    }
}
@media (max-width: 768px) {
    .navbar-header {
        display: inline-block;
        float: right;
    }
    #header-style-1 .yamm img {
        margin-top: 4px;
    }
    #header-style-1.affix-top {
        padding: 10px 0;
    }
    #header-style-1.affix-top .yamm img {
        width: 80%;
    }
    .navbar-collapse.collapse.in {
        margin-top: 12px;
    }
    .navbar-collapse.collapsing {
        margin-top: 12px;
    }
}

/**** SHOP BANNER ****/
@media (min-width: 992px) and (max-width: 1200px) {
    .shop-banner .title {
        top: 22%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .shop-banner .title {
        top: 18%;
    }
    .shop-banner .title h1 {
        font-size: 32px;
    }
}
@media (max-width: 768px) {
    .shop-banner .title {
        top: 16%;
    }
    .shop-banner .title h1 {
        font-size: 26px;
    }
}

/**** Clients ****/
.clients .client-wrap img {
    height: 100px !important;
    width: 200px !important;
}

/**** Footer ****/
#footer-style-1 .logo-widget {
    text-align: center;
}
#footer-style-1 .footer-logo {
    width: 200px;
}
@media (max-width: 768px) {
    #footer-style-1 .footer-logo {
        width: 90%;
    }
}

/**** BANNERS ****/
@media (min-width: 992px) and (max-width: 1200px) {
    .banners li {
        width: 46%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .banners li {
        width: 23%;
    }
}
@media (max-width: 768px) {
    .banners li {
        width: 46%;
    }
}
